Q1. Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.

In [4]:
import pandas as pd

data=[4, 8, 15, 16, 23, 42]

df = pd.Series(data)

print(df)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

Q2. Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the
variable print it.

In [5]:
data=[4, 8, 15, 16, 23, 42, 8, 15, 16, 23]

df = pd.Series(data)

print(df)

0     4
1     8
2    15
3    16
4    23
5    42
6     8
7    15
8    16
9    23
dtype: int64

Q3. Create a Pandas DataFrame that contains the following data:

In [15]:
Personal_details= {'Name' : ['Alice','Bob','Claire'],
                   'Age' : [25,30,27],
                    'Gender' : ['Female','Male','Female'] }

df = pd.DataFrame(Personal_details)

print(df.to_string(index=False))

  Name  Age Gender
 Alice   25 Female
   Bob   30   Male
Claire   27 Female

Q4. What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.

Dimensions:

DataFrame: Two-dimensional (rows and columns).
Series: One-dimensional.

Elements:

DataFrame: Consists of multiple columns, each represented by a Series.
Series: Consists of a single column (or row) of data.

Data Types:

DataFrame: Columns can have different data types.
Series: Homogeneous data type within a column.

In [20]:
#Examples:
df = pd.DataFrame(Personal_details)
print("DataFrame:\n")
print(df)

ages_series = pd.Series([25, 30, 27], name='Age')

print("\nSeries:")
print(ages_series)

DataFrame:

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

Series:
0    25
1    30
2    27
Name: Age, dtype: int64

             Age
count   3.000000
mean   27.333333
std     2.516611
min    25.000000
25%    26.000000
50%    27.000000
75%    28.500000
max    30.000000

Q5. What are some common functions you can use to manipulate data in a Pandas DataFrame? Can
you give an example of when you might use one of these functions?

Common type functions in Pandas are:

1. Head() and Tail()
    Head returns the first 5 rows of a Data Frame
    Tail returns the Last 5 rows of a Data Frame
2. shape
    it returns the number of rows and columns
3. describe
    Generates descriptive statistics of the DataFrame's numerical columns.

Q6. Which of the following is mutable in nature Series, DataFrame, Panel?

In Pandas, the Series and DataFrame are mutable, while the Panel is Immutable

Q7. Create a DataFrame using multiple Series. Explain with an example.

In [22]:

# Creating multiple Series
names = pd.Series(['Alice', 'Bob', 'Charlie'])
ages = pd.Series([25, 30, 35])
cities = pd.Series(['New York', 'San Francisco', 'Los Angeles'])

# Combining Series into a DataFrame
df = pd.DataFrame({'Name': names, 'Age': ages, 'City': cities})

# Displaying the created DataFrame
print(df.to_string(index=False))

   Name  Age          City
  Alice   25      New York
    Bob   30 San Francisco
Charlie   35   Los Angeles